<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>signIn</title>
</head>
<body>
    <div class="sign-in-container">
        <div class="sign-in-inner-container">
            <h1>SignIn</h1>
            <form action="/signIn" method="post">
                <input type="email" required name="username" placeholder="username">
                <input type="password" required name="password" placeholder="password">
                <button type="submit">SignIn</button>
                <a href="/signUp">SignUp</a>
            </form>
        </div>
    </div>
    
</body>
</html>