body {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    
}

.home-page-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2D8D8;
}

.home-page-inner-container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 8%;
    background-color:  #374259;

}
.home-page-inner-container h1{
    margin: 0px;
    color: white;
}

.home-page-container h5{
    color: white;
}
.home-page-container-buttons {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    
    
}

.home-page-container-buttons a {
    text-decoration: none;
    border: 1px solid;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 2%;
}

.home-page-container-buttons a:hover {
    background-color: #374259;
    color: white;
    cursor: pointer;
}
.sign-up-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3e6e6;
}

.sign-up-inner-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid;
    padding: 3%;
    box-shadow: 2px 2px black;
    border-radius: 4px;
    background-color: #f9fbff;
}

.sign-up-inner-container h1 {
    margin: 0px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container button {
    background-color:#374259;
    color: white;
}

.form-container button:hover {
    background-color:white;
    color:#374259;
}

.form-container form{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 15px;
}
.form-container form input {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    outline: none;
    background-color: transparent;
}
.form-container form a {
    width: 100%;
    text-align: center;
}

.form-container form a:hover {
    color: #374259;
}

.passwords-do-not-match{
    color: rgb(235, 9, 9);
    display: inline;
}

.sign-in-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3e6e6;
    
}

.sign-in-inner-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 3%;
    border: 1px solid;
    box-shadow: 2px 2px black;
    border-radius: 4px;
    background-color: #f9fbff;
}

.sign-in-inner-container h1 {
    margin: 0px;
}

.sign-in-inner-container form {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 15px;
}
.sign-in-container button {
    background-color:#374259;
    color: white;
}

.sign-in-inner-container button:hover {
    background-color:white;
    color:#374259;
}
.sign-in-container a {
    width: 100%;
    text-align: center;
}

.blogs-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
   
}

.blogs-container {
    width: 100%;
    height:fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.write-blogs {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-bottom: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.create-blogs-form {
    display: none;
    width: fit-content;
    height: fit-content;
}

.create-blogs form button {
    width: 100%;
    outline: none;
    margin: 0px;
    border: 1px solid;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #374259;
    color: white;
}
.open-create-form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid;
    padding: 10px;
    background-color:#374259 ;
}

.blogs-page-inner-container {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:3%;
}

.blogs-inner-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
}
.blogs-inner-container p {
    margin: 0px;
}

.comments{
    display: none;
}

.open-comments{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid;
}

.comments-container button {
    width: fit-content;
    outline: none;
    margin: 0px;
    border: 0px none;
    text-decoration: none;
    background-color: white;
}

.user-comment {
    text-decoration: underline;
}

.comment-button p {
    margin-left: 10px;
}
.comments-inner-container{
    display: flex;
    flex-wrap: wrap;
}

.comments-form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}


.comments button {
    width: fit-content;
    outline: none;
    margin: 0px;
    border: 0px none;
    text-decoration: none;
   background-color: white;
}

.comment-button button:hover {
    cursor: pointer;
}
.like-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.like-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.like-container form button {
    width: fit-content;
    outline: none;
    margin: 0px;
    border: 0px none;
    text-decoration: none;
   background-color: white;
}

.like-container form button:hover {
    cursor: pointer;
}

.like-container form p {
    margin-left: 10px;
}


.views-container button {
    width: fit-content;
    outline: none;
    margin: 0px;
    border: 0px none;
    text-decoration: none;
   background-color: white;
}


.views-container p {
    margin-left: 10px;
}



.log-out{
    position: fixed;
    right: 0px;
    margin-right: 50px;
    font-size: 18px;
    border: 3px solid;
    color: rgb(0, 0, 0);
    padding: 6px;
}

.create-blog-button {
    margin: 0px;
    padding: 5px;
    border-radius: 50%;
}

.create-blog-button:hover{
    cursor: pointer;
}

.create-blogs-form-open {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.google-sign-up-link {
    background-color: white;
    border: 1px solid;
    width: 100%;
}
.google-sign-in-link {
    background-color: white;
    border: 1px solid;
    width: 100%;
}

.google-sign-up-link:hover{
    border: 2px solid red;
    color: white;
}

.google-sign-in-link:hover{
    border: 2px solid red;
    color: white;
}